/***** 공통 S *****/
@font-face {
    font-family: "KBO_Dia_Gothic";
    src: url("../fonts/KBO_Dia_Gothic_light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'KBO_Dia_Gothic';
    src: url("../fonts/KBO_Dia_Gothic_medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'KBO_Dia_Gothic';
    src: url("../fonts/KBO_Dia_Gothic_bold.ttf") format("truetype");
    font-weight: 700;
}

body {
    font-family: 'KBO_Dia_Gothic', Geneva, Tahoma, sans-serif;
}

html,
body,
#app,
.root-wrap {
    min-width: 350px;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

.root-wrap {
    position: relative;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: rgb(0, 0, 0, 0.6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/***** 공통 E *****/

/***** 헤더 S *****/
.root-wrap header.main-header {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5vw;
    padding-right: 10vw;
    z-index: 50;
}

.root-wrap header.main-header.project-detail-page {
    transition: all 0.3s;
}

.root-wrap header.main-header.career {
    background-color: #3ce8d6;
}

.root-wrap header.main-header.career a {
    color: #cdd;
}

.root-wrap header.main-header.contactme a {
    color: #333;
}

.root-wrap header.main-header a {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    text-decoration: none;
}

.root-wrap header.main-header a:hover,
.root-wrap header.main-header a.router-link-exact-active {
    position: relative;
    color: white;
}

.root-wrap header.main-header a:hover::after,
.root-wrap header.main-header a.router-link-exact-active::after {
    position: absolute;
    bottom: -10px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
}

/***** 헤더 E *****/
/***** GnbBox S *****/
.root-wrap .gnb-box_wrap {
    transition: all 1s;
    position: fixed;
    top: 0;
    left: -90%;
    width: 90%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 100;
    box-sizing: border-box;
    padding-left: 14%;
}

.root-wrap .gnb-box_wrap.on {
    left: 0;
}

.root-wrap .gnb-box_wrap .router-link_wrap {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16vh;
}

.root-wrap .gnb-box_wrap .router-link_wrap a {
    position: relative;
    text-decoration: none;
    font-size: 5vw;
    font-weight: bold;
    color: white;
}

.root-wrap .gnb-box_wrap .router-link_wrap a:hover::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 7px;
    bottom: -14px;
    background-color: white;
}

.root-wrap .gnb-box_wrap .left_btn_wrap {
    cursor: pointer;
    width: 20%;
    height: 100%;
}

.root-wrap .gnb-box_wrap .left_btn_wrap svg {
    color: white;
    width: 32px;
    height: auto;
    opacity: 0.3;
}

.root-wrap .gnb-box_wrap .left_btn_wrap:hover svg {
    opacity: 1;
}

/***** GnbBox E *****/

/***** Home 페이지 S *****/
.home-page_wrap,
.home-page_wrap main {
    height: 100%;
}

.home-page_wrap {
    position: relative;
}

/* Home 페이지 _ HomePageNav S */
nav.home-page_nav {
    width: 10%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    right: 0;
    z-index: 50;
}

nav.home-page_nav.fixed {
    position: fixed;
    bottom: 0;
}

nav.home-page_nav>ul {
    height: 100%;
    flex-direction: column;
    gap: 20vh;
}

nav.home-page_nav>ul>li {
    width: 40%;
    max-width: 27px;
}

nav.home-page_nav>ul>li>svg {
    transition: all 0.3s;
    color: #999;
    max-width: 32px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

nav.home-page_nav>ul>li>svg.on,
nav.home-page_nav>ul>li>svg:hover {
    color: white;
}

/* Home 페이지 _ HomePageNav E */

/* Home 페이지 _ IntroComponent S */
.intro_wrap {
    position: relative;
    height: 100%;
}

.intro_wrap video {
    position: fixed;
    object-fit: cover;
}

.intro_wrap>div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.intro_wrap>div .btn {
    flex-direction: column;
    gap: 10px;
    color: #BEBEBE;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.intro_wrap>div .btn:hover {
    color: white;
}

.intro_wrap>div>span {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 58px;
}

.intro_wrap>div>span:nth-child(2) {
    transition: all 1s;
    top: 20vh;
    left: -5vw;
    opacity: 0;
}

.intro_wrap>div>span:nth-child(2).on {
    left: 7vw;
    opacity: 1;
}

.intro_wrap>div>span:nth-child(3) {
    transition: all 1s;
    transition-delay: 1s;
    bottom: 20vh;
    right: 0vw;
    opacity: 0;
}

.intro_wrap>div>span:nth-child(3).on {
    right: 7vw;
    opacity: 1;
}

/* Home 페이지 _ IntroComponent E */

/* Home 페이지 _ AboutComponent S */
.about_wrap {
    position: relative;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.about_wrap .header_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
}

.about_wrap .header_area .header_deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}

.about_wrap .header_area h1 {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: bold;
    color: white;
    z-index: 10;
}

.about_wrap .about_container {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    padding: 10vh 2vw 4vh;
    background-color: white;
}

.about_wrap .about_container section {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 2vw 0 4vw;
}

.about_wrap .about_container section:nth-child(1) {
    position: relative;
}

.about_wrap .about_container section h2 {
    transition: all 0.3s;
    width: 100%;
    height: 15%;
    font-size: 24px;
    font-weight: bold;
}

.about_wrap .about_container section:hover h2 {
    color: #3ce8d6;
}

.about_wrap .about_container section .about-me_wrap {
    width: 100%;
    height: 85%;
    box-sizing: border-box;
    border-radius: 40px;
}

.about_wrap .about_container section .about-me_wrap .img_wrap {
    width: 100%;
    height: 40%;
    background: url("../img/homepage/my_picture.jpg");
    background-size: 100% auto;
    background-position: center bottom;
    border-radius: 40px;
}

.about_wrap .about_container section .about-me_wrap ul {
    height: 60%;
    box-sizing: border-box;
    padding: 2vh 4vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}

.about_wrap .about_container section .about-me_wrap ul h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about_wrap .about_container section .about-me_wrap ul p {
    font-size: 12px;
    line-height: 20px;
}

.about_wrap .about_container section:nth-child(2) img {
    width: 38px;
    height: auto;
}

.about_wrap .about_container section:nth-child(2) ul {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8vh;
    box-sizing: border-box;
    padding: 3vh 0;
}

.about_wrap .about_container section:nth-child(2) ul li {
    display: flex;
    gap: 2vw;
}

.about_wrap .about_container section:nth-child(2) ul li .work-style_li_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}

.about_wrap .about_container section:nth-child(2) ul li .work-style_li_wrap h3 {
    font-size: 18px;
    font-weight: 500;
}

.about_wrap .about_container section:nth-child(2) ul li .work-style_li_wrap p {
    font-size: 12px;
    line-height: 20px;
}

/* Home 페이지 _ AboutComponent E */

/* Home 페이지 _ SkillComponent S */
.skill_wrap {
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.skill_wrap .header_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
}

.skill_wrap .header_area .header_deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}

.skill_wrap .header_area h1 {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: bold;
    color: white;
    z-index: 10;
}

.skill_wrap .skill_container {
    width: 80%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 16vh 4vw;
    background-color: white;
    flex-direction: column;
    gap: 1vh;
}

.skill_wrap .skill_container section {
    transition: background 0.3s;
    width: 100%;
    padding: 40px 40px 50px;
    border-radius: 40px;
    box-sizing: border-box;
}

.skill_wrap .skill_container section:nth-child(1):hover {
    background-color: #e2f3ff;
}

.skill_wrap .skill_container section:nth-child(1):hover .logo_wrap {
    background-color: white;
}

.skill_wrap .skill_container section:nth-child(2):hover {
    background-color: #fef5d4;
}

.skill_wrap .skill_container section:nth-child(2):hover .logo_wrap {
    background-color: white;
}

.skill_wrap .skill_container section:nth-child(3):hover {
    background-color: #ffe2cf;
}

.skill_wrap .skill_container section:nth-child(3):hover .logo_wrap {
    background-color: white;
}


.skill_wrap .skill_container section>h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.skill_wrap .skill_container section>ul {
    gap: 36px;
}

.skill_wrap .skill_container section>ul>li {
    flex-direction: column;
    gap: 10px;
}

.skill_wrap .skill_container section .logo_wrap {
    width: 5vw;
    height: 5vw;
    min-width: 50px;
    min-height: 50px;
    background-color: #bebebe;
    border-radius: 40px;
    transition: background 0.3s;
}

.skill_wrap .skill_container section:nth-child(1) .logo_wrap {
    background-color: #e2f3ff;
}

.skill_wrap .skill_container section:nth-child(2) .logo_wrap {
    background-color: #fef5d4;
}

.skill_wrap .skill_container section:nth-child(3) .logo_wrap {
    background-color: #ffe2cf;
}

.skill_wrap .skill_container section .logo_wrap>img {
    width: 3vw;
    height: auto;
    max-width: 40px;
    min-width: 28px;
}

/* Home 페이지 _ SkillComponent E */
/***** Home 페이지 E *****/

/***** Career 페이지 S *****/
.career-page_wrap {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10vh 10vw 10vh;
}

.career-page_wrap>h1 {
    height: 20%;
    font-size: 24px;
    font-weight: bold;
}

.career-page_wrap>ul {
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.career-page_wrap>ul>li,
.career-page_wrap>ul>li>a,
.career-page_wrap>ul>li>a .img_wrap,
.career-page_wrap>ul>li>a .img_wrap .dim {
    width: 100%;
    height: 100%;
}

.career-page_wrap>ul>li>a {
    display: block;
    text-decoration: none;
    background-color: rgb(0, 0, 0, 0.5);
}

.career-page_wrap>ul>li>a .img_wrap {
    position: relative;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.career-page_wrap>ul>li>a .img_wrap .dim {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    background-color: black;
    opacity: 0;
}

.career-page_wrap>ul>li:hover>a .img_wrap .dim {
    opacity: 0.5;
}

.career-page_wrap>ul>li>a .img_wrap .dim_p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    z-index: 10;
}

.career-page_wrap>ul>li:hover>a .img_wrap .dim_p {
    opacity: 1;
}

/* Career 페이지 _ 상세 페이지 S */
/* Career 페이지 _ 상세 페이지 _ 공통 S */
.career-detail-page_wrap {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 10vh;
}

.career-detail-page_wrap nav {
    width: 28%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.career-detail-page_wrap nav ul {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 16px;
    box-sizing: border-box;
    overflow-y: auto;
}

.career-detail-page_wrap nav ul li {
    width: 100%;
    margin-bottom: 16px;
}

.career-detail-page_wrap nav ul li:last-child {
    margin-bottom: 0;
}

.career-detail-page_wrap nav ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 16px;
}

.career-detail-page_wrap nav ul li a:hover,
.career-detail-page_wrap nav ul li a.router-link-exact-active {
    color: white;
    font-weight: bold;
}

.career-detail-page_wrap>main {
    width: 72%;
    height: 100%;
    overflow-y: auto;
    padding: 80px 36px;
    padding-right: 52px;
    box-sizing: border-box;
    line-height: 24px;
    scroll-behavior: smooth;
}

.career-detail-page_wrap>main::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
}

.career-detail-page_wrap>main::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: rgb(0, 0, 0, 0.6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.career-detail-page_content header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    margin-bottom: 50px;
}

.career-detail-page_content header>h1 {
    font-size: 36px;
    font-weight: bold;
}

.career-detail-page_content header>span:nth-child(2) {
    color: #666666;
    font-size: 14px;
}

.career-detail-page_content header a {
    color: #6bacce;
    text-decoration: none;
}

.career-detail-page_content header a:hover {
    text-decoration: underline;
}

.career-detail-page_content main>section {
    margin-top: 50px;
}

.carousel__slide img {
    width: 100%;
    height: auto;
}

.career-detail-page_content main>section>h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

.career-detail-page_content main>section ul {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.career-detail-page_content main>section h3 {
    margin-bottom: 12px;
    font-weight: bold;
}

.career-detail-page_content main>section p {
    margin-top: 10px;
    line-height: 28px;
}

.career-detail-page_content main>section.work_section>ul>li,
.career-detail-page_content main>section.meaning_section>ul>li {
    margin-bottom: 16px;
}

.career-detail-page_content main>section.work_section>ul>li:nth-last-child(1),
.career-detail-page_content main>section.meaning_section>ul>li:nth-last-child(1) {
    margin-bottom: 0;
}

.career-detail-page_wrap .top_btn_wrap {
    width: 100%;
    margin-top: 85px;
}

.career-detail-page_wrap .top_btn {
    transition: all 0.3s;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.career-detail-page_wrap .top_btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.career-detail-page_wrap .top_btn>svg {
    width: 27%;
    height: auto;
}

/* Career 페이지 _ 상세 페이지 _ 공통 E */

/* Career 페이지 _ 상세 페이지 _ 프로젝트 2(* KB 글로벌 뱅킹) S */
.career-detail-page_content.content_2 .about_section>ul>li>ul {
    margin-top: 12px;
}

/* Career 페이지 _ 상세 페이지 _ 프로젝트 2(* KB 글로벌 뱅킹) E */

/* Career 페이지 _ 상세 페이지 _ 프로젝트 3(* 유독) S */
.career-detail-page_content.content_3 main>section ul {
    padding-right: 0;
}

.career-detail-page_content main>section h4 {
    margin-bottom: 12px;
    font-weight: bold;
}

.career-detail-page_content main>section h5 {
    margin-bottom: 10px;
}

.career-detail-page_content.content_3 .about_section>ul>li>ul {
    margin-top: 12px;
}

.career-detail-page_content.content_3 .meaning_section ul {
    gap: 24px;
}

/* Career 페이지 _ 상세 페이지 _ 프로젝트 3(* 유독) E */

/* Career 페이지 _ 상세 페이지 E */
/***** Career 페이지 E *****/

/***** Contact Me 페이지 S *****/
.contact-me-page_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../img/contactme/pawel-czerwinski-F62HhUiaiSU-unsplash.png");
    background-size: cover;
    background-position: center;
}

.contact-me-page_wrap>div {
    position: absolute;
    right: 10vw;
    bottom: 25vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5vh;
}

.contact-me-page_wrap span {
    font-size: 32px;
    color: white;
    font-weight: bold;
}

.contact-me-page_wrap span:nth-child(1) {
    bottom: 30vh;
}

.contact-me-page_wrap span:nth-child(2) {
    bottom: 10vh;
}

/***** Contact Me 페이지 E *****/

/***** 태블릿 S *****/
@media (min-width: 768px) and (max-width: 1024px) {

    /* 태블릿 - Home 페이지 _ SkillComponent S */
    .skill_wrap .skill_container {
        padding: 10vh 4vw;
    }

    .skill_wrap .skill_container section>ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }

    .skill_wrap .skill_container section>ul span {
        font-size: 14px;
    }

    /* 태블릿 - Home 페이지 _ SkillComponent E */
}

/***** 태블릿 E *****/

/***** 모바일 S *****/
@media (max-width: 767px) {

    /***** 모바일 - 헤더 S *****/
    .root-wrap header.main-header {
        padding-right: 3vw;
    }

    .root-wrap header.main-header a {
        font-size: 20px;
    }

    /***** 모바일 - 헤더 E *****/

    /***** 모바일 - GnbBox S *****/
    .root-wrap .gnb-box_wrap .router-link_wrap a {
        font-size: 40px;
    }

    /***** 모바일 - GnbBox E *****/

    /***** 모바일 - Home 페이지 S *****/
    /* 모바일 - Home 페이지 _ IntroComponent S */
    .intro_wrap .btn {
        gap: 16px;
    }

    .intro_wrap>div>span {
        font-size: 40px;
    }

    .intro_wrap>div>span:nth-child(2) {
        top: 18vh;
    }

    .intro_wrap>div>span:nth-child(3) {
        bottom: 18vh;
    }

    /* 모바일 - Home 페이지 _ IntroComponent E */

    /* 모바일 - Home 페이지 _ AboutComponent S */
    .about_wrap .header_area h1 {
        font-size: 30px;
    }

    .about_wrap .about_container {
        flex-direction: column;
        padding-bottom: 0;
    }

    .about_wrap .about_container section {
        width: 100%;
        height: 45%;
        padding: 2vw;
    }

    .about_wrap .about_container section .about-me_wrap {
        position: relative;
        border-radius: 30px;
        border: none;
    }

    .about_wrap .about_container section .about-me_wrap .img_wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        opacity: 0.4;
    }

    .about_wrap .about_container section .about-me_wrap ul {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 10;
        gap: 3vh;
        padding-left: calc(2vw + 24px);
    }

    .about_wrap .about_container section .about-me_wrap ul h3 {
        font-size: 16px;
        font-weight: bold;
    }

    .about_wrap .about_container section .about-me_wrap ul p {
        font-size: 10px;
    }

    .about_wrap .about_container section:nth-child(2) {
        height: 55%;
    }

    .about_wrap .about_container section:nth-child(2) img {
        width: 24px;
    }

    .about_wrap .about_container section:nth-child(2) ul {
        gap: 0;
        padding: 0;
        justify-content: space-around;
    }

    .about_wrap .about_container section:nth-child(2) ul li .work-style_li_wrap {
        gap: 1vh;
    }

    .about_wrap .about_container section:nth-child(2) ul li .work-style_li_wrap h3 {
        font-size: 16px;
        font-weight: bold;
    }

    .about_wrap .about_container section:nth-child(2) ul li .work-style_li_wrap p {
        font-size: 10px;
    }

    /* 모바일 - Home 페이지 _ AboutComponent E */

    /* 모바일 - Home 페이지 _ SkillComponent S */
    .skill_wrap .header_area h1 {
        font-size: 30px;
    }

    .skill_wrap .skill_container {
        padding: 10vh 4vw;
        gap: 2vh;
    }

    .skill_wrap .skill_container section {
        width: 90%;
        padding: 40px 0 0;
    }

    .skill_wrap .skill_container section:nth-child(1):hover {
        background-color: white;
    }

    .skill_wrap .skill_container section:nth-child(1):hover .logo_wrap {
        background-color: #e2f3ff;
        ;
    }

    .skill_wrap .skill_container section:nth-child(2):hover {
        background-color: white;
    }

    .skill_wrap .skill_container section:nth-child(2):hover .logo_wrap {
        background-color: #fef5d4;
        ;
    }

    .skill_wrap .skill_container section:nth-child(3):hover {
        background-color: white;
    }

    .skill_wrap .skill_container section:nth-child(3):hover .logo_wrap {
        background-color: #ffe2cf;
        ;
    }

    .skill_wrap .skill_container section>ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .skill_wrap .skill_container section>ul span {
        font-size: 12px;
    }

    /* 모바일 - Home 페이지 _ SkillComponent E */

    /***** 모바일 - Home 페이지 E *****/

    /***** 모바일 - Career 페이지 S *****/
    .career-page_wrap>ul {
        grid-template-columns: 1fr;
        height: fit-content;
        padding-bottom: 10vh;
        gap: 10px;
    }

    .career-page_wrap>ul>li {
        height: 180px;
    }

    /* 모바일 - Career 페이지 _ 상세 페이지 S */
    /* 모바일 - Career 페이지 _ 상세 페이지 _ 공통 S */
    .career-detail-page_wrap {
        flex-direction: column;
    }

    .career-detail-page_wrap nav {
        width: 100%;
        height: 40%;
    }

    .career-detail-page_wrap nav ul {
        height: 100%;
    }

    .career-detail-page_wrap>main {
        width: 100%;
        overflow-y: initial;
    }

    .career-detail-page_content header>h1 {
        font-size: 24px;
    }

    .career-detail-page_content main>section>h2 {
        font-size: 20px;
    }

    .career-detail-page_content main>section:nth-last-child(1) {
        padding-bottom: 100px;
    }

    .career-detail-page_wrap .top_btn_wrap {
        margin-top: 0;
        padding-bottom: 50px;
    }

    .career-detail-page_wrap .top_btn {
        width: 100%;
        height: 60px;
        border-radius: 10px;
    }

    .career-detail-page_wrap .top_btn>svg {
        width: 25px;
    }

    /* 모바일 - Career 페이지 _ 상세 페이지 _ 공통 E */

    /* 모바일 - Career 페이지 _ 상세 페이지 _ 프로젝트 2(* KB 글로벌 뱅킹) S */
    .career-detail-page_content.content_2 header>h1 {
        font-size: 22px;
    }

    /* 모바일 - Career 페이지 _ 상세 페이지 _ 프로젝트 2(* KB 글로벌 뱅킹) E */
    /* 모바일 - Career 페이지 _ 상세 페이지 E */
    /***** 모바일 - Career 페이지 E *****/

    /***** Contact Me 페이지 S *****/
    .contact-me-page_wrap>div {
        bottom: 15vh;
    }

    .contact-me-page_wrap span {
        font-size: 24px;
    }

    /***** Contact Me 페이지 E *****/
}

/***** 모바일 E *****/