/***** 공통 S *****/
html,
body,
#app,
.root-wrap {
    min-width: 350px;
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
.root-wrap {
    position: relative;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(0, 0, 0, 0.5);
}
body::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: rgb(0, 0, 0, 0.6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/***** 공통 E *****/

/***** 헤더 S *****/
.root-wrap header.main-header {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5vw;
    padding-right: 10vw;
    z-index: 50;
}
.root-wrap header.main-header.green {
    background-color: #42b883;
}
.root-wrap header.main-header.navy {
    background-color: #35495e;
}
.root-wrap header.main-header a {
    font-size: 24px;
    font-weight: bold;
    color: #BEBEBE;
    text-decoration: none;
}
.root-wrap header.main-header a:hover,
.root-wrap header.main-header a.router-link-exact-active {
    position: relative;
    color: white;
}
.root-wrap header.main-header a:hover::after,
.root-wrap header.main-header a.router-link-exact-active::after {
    position: absolute;
    bottom: -10px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
}
/***** 헤더 E *****/
/***** GnbBox S *****/
.root-wrap .gnb-box_wrap {
    transition: all 1s;
    position: fixed;
    top: 0;
    left: -90%;
    width: 90%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 100;
    box-sizing: border-box;
    padding-left: 14%;
}
.root-wrap .gnb-box_wrap.on {
    left: 0;
}
.root-wrap .gnb-box_wrap .router-link_wrap {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16vh;
}
.root-wrap .gnb-box_wrap .router-link_wrap a {
    position: relative;
    text-decoration: none;
    font-size: 54px;
    font-weight: bold;
    color: white;
}
.root-wrap .gnb-box_wrap .router-link_wrap a:hover::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 7px;
    bottom: -14px;
    background-color: white;
}
.root-wrap .gnb-box_wrap .left_btn_wrap {
    cursor: pointer;
    width: 20%;
    height: 100%;
}
.root-wrap .gnb-box_wrap .left_btn_wrap svg {
    color: white;
    width: 32px;
    height: auto;
    opacity: 0.3;
}
.root-wrap .gnb-box_wrap .left_btn_wrap:hover svg {
    opacity: 1;
}
/***** GnbBox E *****/

/***** Home 페이지 S *****/
.home-page_wrap,
.home-page_wrap main {
    height: 100%;
}
.home-page_wrap {
    position: relative;
}

/* Home 페이지 _ HomePageNav S */
nav.home-page_nav {
    width: 10%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    right: 0; 
    z-index: 50;
}
nav.home-page_nav.fixed {
    position: fixed;
    bottom: 0;
}
nav.home-page_nav > ul {
    height: 100%;
    flex-direction: column;
    gap: 20vh;
}
nav.home-page_nav > ul > li {
    width: 40%;
}
nav.home-page_nav > ul > li > svg {
    transition: all 0.3s;
    color: #BEBEBE;
    max-width: 32px;
    width: 100%;
    height: auto;
    cursor: pointer;
}
nav.home-page_nav > ul > li > svg.on,
nav.home-page_nav > ul > li > svg:hover {
    color: white;
}
/* Home 페이지 _ HomePageNav E */

/* Home 페이지 _ IntroComponent S */
.intro_wrap {
    position: relative;
    height: 100%;
    background-image: url("../img/northern-lights-3242090_1920.jpg");
    background-position: center;
    background-size: 100% auto;
}
.intro_wrap.background-std_ver {
    background-size: auto 100%;
}
.intro_wrap .btn {
    flex-direction: column;
    gap: 10px;
    color: #BEBEBE;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.intro_wrap .btn:hover {
    color: white;
}
.intro_wrap > span {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 64px;
}
.intro_wrap > span:nth-child(2) {
    transition: all 1s;
    top: 10vh;
    left: -5vw;
    opacity: 0;
}
.intro_wrap > span:nth-child(2).on {
    left: 5vw;
    opacity: 1;
}
.intro_wrap > span:nth-child(3) {
    transition: all 1s;
    transition-delay: 1s;
    bottom: 10vh;
    right: 0vw;
    opacity: 0;
}
.intro_wrap > span:nth-child(3).on {
    right: 5vw;
    opacity: 1;
}
/* Home 페이지 _ IntroComponent E */

/* Home 페이지 _ AboutComponent S */
.about_wrap {
    position: relative;
    height: 100%;
    background-color: #42b883;
}
.about_wrap .header_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
}
.about_wrap .header_area .header_deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}
.about_wrap .header_area h1 {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: bold;
    color: white;
    z-index: 10;
}
.about_wrap .about_container {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 13vh;
    background-color: white;
}
/* Home 페이지 _ AboutComponent E */

/* Home 페이지 _ ProjectComponent S */
.project_wrap {
    height: 100%;
    background-color: #35495e;
    position: relative;
}
.project_wrap .header_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
}
.project_wrap .header_area .header_deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}
.project_wrap .header_area h1 {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: bold;
    color: white;
    z-index: 10;
}
.project_wrap .project_container {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 13vh;
    background-color: white;
}
/* Home 페이지 _ ProjectComponent E */
/***** Home 페이지 E *****/